.home {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  padding-left: 50vh;
  padding-right: 50vh;
  padding-bottom: 5vh;
  align-items: center;
  background-color: #282c34;
}

.home-header {
  display: flex;
  padding-top: 5vh;
  align-items: center;
  justify-content: space-between;
}

.home-header span {
  color: white;
}

.span-git-learn {
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  transition: color 0.5s ease 0.3s; 
  font-family: 'Courier New', Courier, monospace;
}

.span-git-learn:hover {
  color: yellow;
  text-decoration: underline;
  transition-timing-function: 7ms;
}

.home-header div {
  display: flex;
  align-items: center;
}

.home-header div select {
  border: none;
  color: white;
  font-size: medium;
  background-color: #282c34;
  font-family: 'Courier New', Courier, monospace;
}

.home-header div img {
  cursor: pointer;
  max-height: 3vh;
  padding-left: 2vh;
  transition: filter 0.5s ease 0.3s; 
}

.home-header div img:hover {
  filter: invert(500%);
  transition-timing-function: 7ms;
}

.home > div:first-of-type {
  min-width: 100vh;
  padding-top: 15vh;
  display: inline-flex;
}

.div-first-child {
  min-width: 100vh;
  padding-top: 15vh;
  display: inline-flex;
}

.div-other-child {
  min-width: 100vh;
  padding-top: 15vh;
  display: inline-flex;
}

.home div div {
  width: 50vh;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.span-headline {
  float: left;
  color: white;
  display: inline;
  font-size: 27pt;
  font-weight: bold;
  margin-bottom: 2vh;
  font-family: 'Courier New', Courier, monospace;
}

.span-content {
  color: white;
  display: block;
  font-size: 11pt;
  margin-bottom: 3vh;
  font-family: 'Courier New', Courier, monospace;
}

.span-content span {
  font-weight: bolder;
  transition: color 0.5s ease 0.3s;
}

.span-content span:hover {
  color: yellow;
  text-decoration: underline;
  transition-timing-function: 7ms;
}

button {
  border: none;
  padding: 1.5vh;
  color: black;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.75vh;
  background-color: yellow;
  transition: color 0.5s ease 0.3s;
  transition: background-color 0.5s ease 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  color: white;
  background-color: darkkhaki;
  transition-timing-function: 7ms;
}

.button-github {
  border: none;
  display: flex;
  color: black;
  padding: 1.25vh;
  font-weight: bold;
  width: fit-content;
  align-items: center;
  border-radius: 0.75vh;
  background-color: yellow;
  font-family: 'Courier New', Courier, monospace;
}

.button-github:hover {
  color: white;
  background-color: darkkhaki;
  transition-timing-function: 7ms;
}

.button-github img {
  cursor: pointer;
  max-height: 2.5vh;
  margin-right: 1vh;
  transition: filter 0.5s ease 0.3s; 
}

.button-github img:hover {
  filter: invert(500%);
  transition-timing-function: 7ms;
}

footer {
  width: 100vh;
  bottom: 0.5vh;
  color: white;
  position: sticky;
  margin-top: 30vh;
}

footer p {
  font-weight: lighter;
}

footer a {
  color: white;
  text-decoration: none;
}

footer p a span {
  font-weight: bolder;
  transition: color 0.5s ease 0.3s;
}

footer p a span:hover {
  color: yellow;
  text-decoration: underline;
  transition-timing-function: 7ms;
}