.home-div {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  position: relative;
  align-items: center;
  padding: 0vh 45vh 25vh 45vh;
  background-color: #282c34;
}

.home-div > div:first-of-type {
  min-width: 100vh;
  padding-top: 15vh;
  display: inline-flex;
}

.home-div div div {
  width: 45vh;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.div-other-child {
  min-width: 100vh;
  padding-top: 15vh;
  display: inline-flex;
}

.span-headline {
  float: left;
  color: white;
  display: inline;
  font-size: 27pt;
  font-weight: bold;
  margin-bottom: 2vh;
  font-family: 'Courier New', Courier, monospace;
}

.span-content {
  width: 40vh;
  color: white;
  display: block;
  font-size: 11pt;
  margin-bottom: 3vh;
  font-family: 'Courier New', Courier, monospace;
}

.span-content span {
  font-weight: bolder;
  transition: color 0.5s ease 0.3s;
}

.span-content span:hover {
  color: yellow;
  text-decoration: underline;
  transition-timing-function: 7ms;
}

.button-start {
  border: none;
  color: black;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  border-radius: 0.75vh;
  padding: 1.25vh 1.75vh;
  background-color: yellow;
  transition: color 0.5s ease 0.3s;
  transition: background-color 0.5s ease 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

.button-start:hover {
  color: white;
  background-color: darkkhaki;
  transition-timing-function: 7ms;
}

.button-github {
  border: none;
  display: flex;
  color: black;
  font-weight: bold;
  width: fit-content;
  align-items: center;
  border-radius: 0.75vh;
  padding: 1.25vh 1.75vh;
  background-color: yellow;
  transition: color 0.5s ease 0.3s;
  transition: background-color 0.5s ease 0.3s;
  font-family: 'Courier New', Courier, monospace;
}

.button-github:hover {
  color: white;
  background-color: darkkhaki;
  transition-timing-function: 7ms;
}

.button-github img {
  cursor: pointer;
  max-height: 2.5vh;
  margin-right: 1vh;
  transition: filter 0.5s ease 0.3s; 
}

.button-github img:hover {
  filter: invert(500%);
  transition-timing-function: 7ms;
}