.div-learn {
    min-height: 100vh;
    padding: 0vh 45vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    background-color: #282c34;
}

.div-learn > div {
    gap: 5vh;
    width: 100%;
    display: grid;
    margin-top: 15vh;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.div-learn > div > a {
    text-decoration: none;
}

.div-learn > div > a > div {
    cursor: pointer;
    min-height: 25vh;
    text-align: left;
    position: relative; 
    border-radius: 0.5vh;
    transition: background-color 0.5s ease 0.7s;
}

.div-first-child {
    width: 100%;
    background-color: rgba(165, 42, 42, 0.5);
}

.div-first-child:hover {
    transition-timing-function: 1ms;
    background-color: rgba(165, 42, 42, 0.7);
}

.div-second-child {
    width: 100%;
    background-color: rgba(255, 255, 0, 0.5);
}

.div-second-child:hover {
    transition-timing-function: 1ms;
    background-color: rgba(255, 255, 0, 0.6);
}

.div-learn > div > a > div > div {
    width: 100%;
    display: flex;
    padding: 2vh 0vh;
    text-align: center;
    justify-content: space-between;
}

.span-subtitle {
    color: white;
    font-size: 15pt;
    font-weight: 600;
    padding-left: 2vh;
    font-family: 'Courier New', Courier, monospace;
}

.span-achievement {
    color: white;
    font-size: 12pt;
    font-weight: 300;
    padding-right: 2vh;
    font-family: 'Courier New', Courier, monospace;
}

.div-learn > div > a > div > p {
    width: 65%;
    color: white;
    padding-left: 2vh;
    padding-bottom: 7.5vh;
}

.div-learn button {
    width: 9vh;
    right: 2vh;
    bottom: 2vh;
    border: none;
    float: right;
    display: flex;
    font-size: 9pt;
    position: fixed;
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    padding: 1vh 1.25vh;
    align-items: center;
    border-radius: 0.5vh;
    background-color: black;
    justify-content: space-between;
    transition: color 0.5s ease 0.7s;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Courier New', Courier, monospace;
}

.div-learn button:hover {
    color: white;
    transition-timing-function: 7ms;
}

.div-learn button > img {
    width: 1.5vh;
    opacity: 0.75;
    filter: invert(100%);
}