header {
    display: flex;
    padding-top: 5vh;
    align-items: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

.link-git-learn {
    width: auto;
    color: white;
    cursor: pointer;
    font-size: large;
    text-align: left;
    font-weight: bold;
    transition: color 0.5s ease 0.3s; 
    font-family: 'Courier New', Courier, monospace;
}

.link-git-learn:hover {
    color: yellow;
    text-decoration: underline;
    transition-timing-function: 7ms;
}

header div {
    width: 35%;
    display: grid;
    text-align: right;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header div a {
    color: white;
    font-weight: bold;
    transition: color 0.5s ease 0.3s;
    font-family: 'Courier New', Courier, monospace;
}

header div a:hover {
    color: yellow;
    text-decoration: underline;
    transition-timing-function: 7ms;
}

header div select {
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
    background-color: #282c34;
    font-family: 'Courier New', Courier, monospace;
}

header div img {
    padding: 0;
    cursor: pointer;
    max-height: 3vh;
    transition: filter 0.5s ease 0.3s; 
}

header div img:hover {
    filter: invert(500%);
    transition-timing-function: 7ms;
}