.div-practice {
    min-height: 100vh;
    padding: 0vh 45vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    background-color: #282c34;
}

.div-content {
    top: 50%;
    left: 50%;
    width: 100%;
    color: white;
    position: sticky;
    text-align: center;
}

.span-title { 
    font-size: 23pt;
    font-family: 'Courier New', Courier, monospace;
}