.div-practice {
    min-height: 100vh;
    padding: 0vh 45vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    align-items: center;
    background-color: #282c34;
}

.div-content {
    margin-top: 10vh;
}